html {
  max-width: 100%;
  max-height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
}

.library {
  height: 100vh;
  width: 100vw;
  background-color: white;
}
.library h1 {
  position: absolute;
  color: #101010;
  font-family: cooper, arial, sans-serif;
  font-size: 6rem;
  margin-left: 10vw;
  margin-top: 8vh;
}
.library #make-book {
  float: right;
  border: 0px;
  margin-right: 10vw;
  margin-top: 8vh;
  height: 8vh;
  width: 12vw;
  border-radius: 5px;
  font-size: 2rem;
}
#myTable {
  width: 60vw;
  margin-left: 20vw;
  margin-top: 25vh;
  font-size: 3rem;
}
#myTable td {
  padding-top: 2vh;
}
#tBody tr {
  border: 1px solid black;
}
#myTable .titles {
  border-bottom: 1px solid black;
}
#myTable .books {
  padding-top: 1em;
  border-bottom: 1px solid black;
}
.isRead {
  height: 8vh;
  width: 8vw;
  border-radius: 5px;
  font-size: 2rem;
  background-color: green;
}
.notRead {
  height: 8vh;
  width: 8vw;
  border-radius: 5px;
  font-size: 2rem;
  background-color: #f34f34;
}
.delete {
  height: 8vh;
  width: 8vw;
  border-radius: 5px;
  font-size: 2rem;
  background-color: red;
}

/* modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 8% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.modal input {
  background-color: rgb(0,0,0, .4);
  width: 100%;
  height: 50px;
  font-size: 3rem;
  color: black;
  font-family: cooper, arial, sans-serif;
}
.modal #addToLibrary {
  width: 50%;
  height: 75px;
  background-color: #f34;
  margin-left: 25%;
  border-radius: 5px;
}
/* modal close */
#close {
  float: right;
  transform: rotate(45deg);
  font-size: 150px;
  margin-right: 5vw;
  cursor: pointer;
}
